* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

@font-face {
	font-family: cinzel;
	src: url(../fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
	font-family: poppins;
	src: url(../fonts/Poppins-Medium.ttf);
}

h1 {
	font-family: cinzel;
	font-size: 3rem;
	color: #999;
	padding: 3rem 8rem;
	height: 15vh;
}

.bkground {
	background-image: url("../imgs/background.avif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 70vh;
	position: relative;
}
h2 {
	font-family: cinzel;
	color: white;
	font-size: 8rem;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

main {
	background-color: #fff;
}
h3,
h4 {
	font-family: cinzel;
	color: #333;
	font-size: 4rem;
	text-align: center;
	margin: 10rem;
}

.sec_para1 {
	text-align: center;
	margin-left: 5vw;
	margin-right: 5vw;
}
.para1,
.tours p {
	max-width: 78vw;
	text-align: center;
	line-height: 2.5rem;
	font-family: poppins;
	color: #333;
	font-size: 1.8rem;
	margin: 0 auto 8rem auto;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

img {
	margin: 3rem;
	height: 22rem;
	width: 40rem;
}

.tours p {
	text-align: left;
	margin: 0 auto 3rem 10rem;
}

.red,
.green {
	text-transform: uppercase;
}

.red {
	color: red;
}

.green {
	color: green;
}

.tours p:nth-last-child(1) {
	margin-bottom: 20rem;
}

.contact {
	display: block;
	text-decoration: none;
	font-family: cinzel;
	color: #333;
	font-size: 4rem;
	text-align: center;
	padding: 5rem;
	border-top: 0.3rem solid #333;
}

/* li {
  font-size: 8rem;
  display: inline-block;
  margin-left: 15rem;
  margin-right: 15rem;
} */

.social {
	font-size: 8rem;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
